@import "tailwindcss";
body {
  background-image: url("https://images.unsplash.com/photo-1506765515384-028b60a970df?q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
